@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.15s ease-out;
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-slide {
    animation: fadeSlide 0.8s ease-out forwards;
}

/* aurora start */
.aurora-text {
    background: linear-gradient(
        90deg,
        #4facfe,
        #c56cf0,
        #ff9f43,
        #f368e0,
        #4facfe
    );
    background-size: 300%;
    animation: auroraMove 6s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes auroraMove {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

/* Для плавного появления */
.aurora-title {
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* aurora end */
html,
body {
    overflow: hidden;
}
.handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    border: 1px solid #3b82f6; /* blue-500 */
    box-sizing: border-box;
}

.handle-n {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: ns-resize;
}

.handle-s {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    cursor: ns-resize;
}

.handle-e {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    cursor: ew-resize;
}

.handle-w {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: ew-resize;
}

.handle-nw {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: nwse-resize;
}

.handle-ne {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: nesw-resize;
}

.handle-sw {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    cursor: nesw-resize;
}

.handle-se {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    cursor: nwse-resize;
}
